.idea/
.gradle/
build/
out/
target/
*.iml
practise-ls/*
practise-mv/*
practise-rename/*
practise-remove/*
practise-remove-all/*
practise-cp/*
practise-cp-all/*
practise-mkdir/*
practise-append/*
practise-ls/*








